.homeScreen {
	background-color: black;
	color: white;
}
.mainImage {
	width: 320px;
	height: 240px;
}
.mainMenu {
	display: flex;
	flex-direction: column;
	margin-top: 4em;
}
.menuList {
	
}
.menuEntry {
	flex: 1 1 auto;
	text-align: center;
	line-height: 1.5em;
}
.menuLink {
	text-transform: uppercase;
}
