<ul id="menu">
    <li>
        <a href="#game" class="btn btn-block" title="Generate a new game with a random seed">New Game</a>
    </li>
    <li>
        <a href="#seed" class="btn btn-block">Enter Seed</a>
    </li>
    <li>
        <a href="#archive" class="btn btn-block">Archive</a>
    </li>
    <li>
        <a href="#exit" class="btn btn-block">Exit</a>
    </li>

</ul>