body,
html {
  font-family: Courier, system;
  background: black;
  color: palegreen;
  font-weight: 300;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  transition: color, background-color 0.2s ease-out;
  &,
  &:link,
  &:visited {
    color: palegreen;
    text-decoration: none;
    background: black;
  }
  &:hover,
  &:focus {
    color: black;
    background: palegreen;
  }
}
li {
  list-style-type: none;
}
